@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
body{
  font-family: 'Poppins', sans-serif;

}
h1{
  font-weight: 700;
}
.beguni{
  color: #231D4F;
}
.regular{
  background-color: #3F87F5;
  margin-top: -10px;
  color: white !important;
  border-radius: 3rem;
 
}
.far{
  margin-right: 10px;
  color: #5243C2;
}
.unique{
  color: rgba(250, 250, 250, 0.829) !important;
}

.carousel-item{
  height: 600px;
  min-height: 300px;
  background: no-repeat scroll center;
  background-size: cover;

}
.carousel-item img{
  height: 600px;
  min-height: 300px;
  
}
@media only screen and (max-width: 600px) {
  .carousel-item{
    height: 500px;
    background-position: center;
  }
  

  
}